$theme-primary:    #f8d034;
$theme-danger:     #e74c3c;

$gray-base:			#343a40;

$gray-darker: darken($gray-base, 10%);
$gray-dark: darken($gray-base, 5%);
$gray: $gray-base;
$gray-light: lighten($gray-base, 40%);
$gray-lighter: lighten($gray-base, 70%);
